<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyh.model.mapper.CottonMapper">
    <update id="save">insert cotton values(#{id},#{variety},#{color},#{rank},#{source})</update>
    <delete id="delById">delete from cotton where id = #{id}</delete>
    <select id="getAll" resultType="com.hyh.model.entity.Cotton">select *from cotton</select>
    <select id="getByColor" resultType="com.hyh.model.entity.Cotton">select *from cotton where color = #{color}</select>
    <select id="getByRank" resultType="com.hyh.model.entity.Cotton">select *from cotton where rank = #{rank}</select>
    <select id="getBySource" resultType="com.hyh.model.entity.Cotton">select *from cotton where source = #{source}</select>
    <select id="getById" resultType="com.hyh.model.entity.Cotton">select *from cotton where id = #{id}</select>
    <select id="getByCotton" resultType="com.hyh.model.entity.Cotton">
        select * from cotton where 1=1 <if test="variety!=null">and variety = #{variety}</if>
        <if test="color!=null">
            and color = #{color}
        </if>
        <if test="rank!=null">
            and rank = #{rank}
        </if>
        <if test="source!=null">
            and source = #{source}
        </if>
    </select>
</mapper>
